<div class="add-device-page">
    <div class="header">
        <div class="logo" routerLink="/">IT</div>
        <div>
            <h1>Modifier l'équipement</h1>
            <span>Mise à jour de l'inventaire</span>
        </div>
        <div class="actions">
            <button class="btn-cancel" routerLink="/">Annuler</button>
        </div>
    </div>

    @if (isLoading) {
        <div class="loading-wrapper">
            <app-spinner [message]="'Chargement du contenu...'" />
        </div>
    }

    @if (!isLoading && !hasError) {
        <div class="form-container">
            <app-device-form
                [device]="device"
                [isSubmitting]="isSubmitting"
                [submitLabel]="'Enregistrer les modifications'"
                [submittingLabel]="'Mise a jour...'"
                (submitted)="onSubmit()"
            ></app-device-form>
        </div>
    }

    @if (hasError) {
        <div class="form-container" style="text-align: center; padding: 3rem;">
            <h2> Équipement Introuvable</h2>
            <p style="color: #64748b; margin-bottom: 2rem;">Il est possible que cet équipement ait été supprimé de la base
                de données récemment.</p>
            <button class="btn-cancel" routerLink="/"
                style="background: #e2e8f0; border: none; padding: 10px 20px; border-radius: 8px; cursor:pointer;">Retour au
                Dashboard</button>
        </div>
    }
</div>